/* AddYourOwn.css */
.card {
	border-radius: 10px;
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
}

.card-title {
	font-weight: bold;
	color: #0096C8;
}

.btn {
	padding: 5px 20px;
}

.btn-outline-primary {
	color: #8064A2;
	border-color: #8064A2;
}

.btn-outline-primary:hover {
	background-color: #8064A2;
	color: white;
}